<!DOCTYPE html>
<html>
    <!--{include file='head.tpl'}--> 
    
    <body> 
        
        <!--{include file='header.tpl'}-->

        <div class="container">
            <div class="contact">
                <h2>Контакты</h2>
                <div class="contact-in">
                    <div class=" col-md-3 contact-right">
                        <h5>Информация о компании</h5>
                        <p>Россия, Ростов-на-Дону</p>
                        <p>площадь Гагарина, 1</p>
                        <p>Телефон:+7 999 999 99 99</p>
                        <p>Email: <a href="https://@mail.ru" target="_blank">aaaaaaa@mail.ru</a></p>
                        <p>Мы в сети: <a href="https://vk.com" target="_blank">Вконтакте</a>, <a href="https://instagram.com" target="_blank">Instagram</a></p>
                    </div>
                    <div class=" col-md-9 contact-left">

                        <form >
                            <div>
                                <span>ФИО</span>
                                <input name="userName" type="text" class="textbox">
                            </div>
                            <div>
                                <span>E-Mail</span>
                                <input name="userEmail" type="text" class="textbox">
                            </div>
                            <div>
                                <span>Описание</span>
                                <textarea name="userMsg"> </textarea>
                            </div>
                            <div>
                                <input type="submit" value="Отправить">

                            </div>
                        </form>
                    </div>


                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </div>
</div>

 <!--{include file="footer.tpl"}-->

</body>
</html>